@import "../../../styles/variables";

.welcome {
	text-align: center;
	padding: 0.5rem 2rem;
	font-size: 1.2rem;
	line-height: 1.3rem / 1.2rem * 100%;
	border: 3px dashed $defaultTextColor;
	border-radius: 20px;

	// .welcome__title
	&__title {
		animation: blink 1.5s ease-in-out infinite;
		margin: 0;
		padding: 0;
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
