@import "../../../styles/_variables.scss";

.navigation {
	border: 3px dashed $defaultTextColor;
	padding: 0.2rem 2rem;
	border-radius: 10px;
	position: absolute;
	right: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	// .navigation__item
	&__item {
		font-family: inherit;
		font-size: 1.5rem;
		font-weight: 600;
		line-height: 2.2rem / 2rem * 100%;
		transition: all 150ms ease-in-out;
		margin-right: 1rem;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			cursor: pointer;
			text-shadow: 0 0 5px #d1fb84, 0 0 30px #d1fb84;
		}
	}
}
