@import "../../../styles/_variables.scss";

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	// .navigation__item
	&__item {
		font-family: inherit;
		font-size: 2rem;
		font-weight: 600;
		line-height: 2.5rem / 2rem * 100%;
		text-decoration: underline;

		transition: all 150ms ease-in-out;

		&:hover {
			text-shadow: 0 0 5px #d1fb84, 0 0 30px #d1fb84;
		}
	}

	// .navigation__separator
	&__separator {
		font-size: 2rem;
		line-height: 2.5rem / 2rem * 100%;
		margin: 0 1rem;
	}
}
