$windowTopBorderWidth: 35px;
$windowLeftRightBorderWidth: 5px;
$windowBorderColor: #b6bbb7;
$windowsBackgroundColor: #b6bcb5;

$panelGradientStart: #7d7f7c;
$panelGradientEnd: $windowBorderColor;
$panelTextColor: #b9beb7;
