@import "~normalize.css";
@import "_fonts.scss";
@import "_variables.scss";
* {
	font-family: "VT323", monospace;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $defaultTextColor;
}

ul {
	padding-inline-start: 0px;
}

li {
	list-style-type: none;
}

html,
body {
	font-family: "VT323", monospace;
	font-size: 20px;
	line-height: 20px;
	color: $defaultTextColor;
	overflow: hidden;
}

#root {
	max-width: 100vw;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
}

.container {
	width: 100%;

	margin: 0 auto;
	display: flex;
	height: 95vh;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	@media (max-height: 939.98px) {
		height: 93vh;
	}
	@media (max-height: 681.98px) {
		height: 91vh;
	}
	@media (max-height: 527.98px) {
		height: 90vh;
	}
	@media (max-height: 474.98px) {
		height: 87vh;
	}
}
