.skill {
	background: rgba(#121208, 0.6);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 150px;
	max-width: 140px;
	padding: 0 5px;

	// .skill_img
	&_img {
		padding-top: 10px;
		max-width: 50px;
		max-height: 50px;
		width: 60px;
		height: 60px;
		margin-right: 10px;
		margin-bottom: 20px;
		padding-left: 5px;
	}

	// .skill_name
	&_name {
		margin: 0;
		font-size: 1.1rem;
		line-height: 1.2rem / 1.1rem * 100%;
		margin-bottom: 10px;
	}

	// .skill__data
	&__data {
		width: 400px;
		align-self: flex-start;
	}
}
