@import "../../../styles/variables";
.contactLink {
	transition: all 150ms ease-in-out;
	max-width: 35px;
	max-height: 35px;
	font-family: inherit;
	font-size: 2rem;

	line-height: 2rem /1.5rem * 100%;

	svg {
		width: 35px;
		height: 35px;
		fill: $defaultTextColor;
		transition: all 150ms ease-in-out;
		&:hover {
			transform: scale(1.1);
			text-decoration: underline;
		}
	}
}
