.portfolio {
	overflow: hidden;
	// .portfolio__title
	&__title {
		font-size: 1.6rem;
		line-height: 1.8rem / 1.6rem * 100%;
		margin-bottom: 60px;
	}

	// .portfolio__cases
	&__cases {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 800px;
		margin-bottom: 10px;

		@media (max-width: 812.98px) {
			max-width: 500px;
		}
		@media (max-width: 559.98px) {
			max-width: 400px;
		}
		@media (max-width: 479.98px) {
			max-width: 350px;
		}
	}
}
